@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --pcolor: #61eda6;
}

body {
  background-color: #25262a;
  font-family: "Poppins", sans-serif;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 5px;
  padding: 0px 50px;
}

#box-1 h1 {
  font-size: 65px;
  color: var(--pcolor);
}

#box-1 p {
  font-size: 35px;
}

#box-2 .in {
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
}

label {
  color: var(--pcolor);
  font-size: 22px;
}

input[type="text"],
input[type="email"],
input[type="email"],
textarea {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding-right: 200px;
  background-color: #25262a;
  border: none;
  border-bottom: 1px solid var(--pcolor);
  letter-spacing: 0.5px;
}

input[type="submit"] {
  background-color: var(--pcolor);
  color: white;
  padding: 9px 0px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  border: none;
  margin-top: 5px;
  border-radius: 2px;
}

input[type="submit"]:hover {
  background-color: #3ac982;
  cursor: pointer;
}
